openapi: "3.0.2"
info:
 title: "Worbli Portal API"
 description: "API for account creation via KYC process"
 version: "1.0"
 termsOfService: "https://worbli.io/terms"
 contact:
   name: "Worbli Portal API"
   url: "https://www.worbli.io/v1/"
   email: "info@worbli.io"
servers:
 - url: https://www.worbli.io/v1/
   description: Production Server
 - url: https://uat.worbli.io/v1/
   description: User Acceptance Server
 - url: https://dev.worbli.io/v1/
   description: Development Server
paths:
 /visitor/signin/:
   post:
     tags:
     - Visitors
     summary: "Visitor signs into the portal"
     operationId: PortalLogin
     parameters:
     - name: email
       in: query
       description: "**The email address for login**"
       required: true
       schema:
         type: string
     - name: password
       in: query
       description: "**The password for login in clear text**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid username or password"
 /visitor/join/:
   post:
     tags:
     - Visitors
     summary: "Visitor joins by creating a portal account"
     operationId: PortalJoin
     parameters:
     - name: email
       in: query
       description: "**The email for login**"
       required: true
       schema:
         type: string
     - name: password
       in: query
       description: "**The password for login**"
       required: true
       schema:
         type: string
     - name: agreeTerms
       in: query
       description: "**The user has agreed to the Terms and Privacy Policy**"
       required: true
       schema:
         type: boolean
     - name: agreeMarketing
       in: query
       description: "**The user has agreed to recieve marketing communication**"
       required: true
       schema:
         type: boolean
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid username or password"
 /visitor/forgot/:
   post:
     tags:
     - Visitors
     summary: "Visitor has forgotten their password"
     operationId: PortalForgot
     parameters:
     - name: email
       in: query
       description: "**The email for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Internal Error"
 /visitor/password/:
   put:
     tags:
     - Visitors
     summary: "User saves a new password"
     operationId: PutVisitorPassword
     parameters:
     - name: password
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /user/profile/{id}:
   get:
     tags:
     - User
     summary: "User gets their profile"
     operationId: GetUserProfile
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /user/profile/:
   post:
     tags:
     - User
     summary: "User saves their profile"
     operationId: PostUserProfile
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /identity/image/:
   post:
     tags:
     - Identity
     summary: "Saves an image"
     operationId: PostIdentityImage
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /identity/image:
   get:
     tags:
     - Identity
     summary: "Gets an image"
     operationId: GetIdentityImage
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /identity/application:
   post:
     tags:
     - Identity
     summary: "Posts the users application"
     operationId: PostIdentityApplication
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /identity/application/:
   get:
     tags:
     - Identity
     summary: "Gets the users application"
     operationId: GetIdentityApplication
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /identity/documents/{country}:
   get:
     tags:
     - Identity
     summary: "Given a country returns the documents required"
     operationId: GetIdentityDocuments
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /network/account/:
   post:
     tags:
     - Network
     summary: "Create a network account"
     operationId: PostNetworkAccount
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /network/check/:
   get:
     tags:
     - Network
     summary: "Check if an account name is available"
     operationId: GetNetworkCheck
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /user/state/:
   get:
     tags:
     - User
     summary: "Gets the users state (Identity & Network)"
     operationId: GetUserState
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /health/ready/:
   get:
     tags:
     - Health
     summary: "Is the API ready/present"
     operationId: GetHealthReady
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"
 /health/live/:
   get:
     tags:
     - Health
     summary: "Is the API serving requests"
     operationId: GetHealthLive
     parameters:
     - name: epassword
       in: query
       description: "**The new password for login**"
       required: true
       schema:
         type: string
     responses:
       200:
         description: "successful operation"
       400:
         description: "Invalid password"